<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHANNEL</key>
	<string>www.onebox.bz</string>
	<key>APS_FOR_PRODUCTION</key>
	<string>0</string>
	<key>APP_KEY</key>
	<string>44b7643b8725a04de7c804ea</string>
</dict>
</plist>
