<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>蒙大拿州</key>
	<array>
		<string>比灵斯</string>
	</array>
	<key>新罕布什尔州</key>
	<array>
		<string>曼彻斯特</string>
	</array>
	<key>南卡罗来纳州</key>
	<array>
		<string>哥伦比亚</string>
		<string>查尔斯顿</string>
	</array>
	<key>康涅狄格州</key>
	<array>
		<string>斯坦福</string>
		<string>桥港</string>
		<string>纽黑文</string>
		<string>沃特伯里</string>
		<string>哈特福德</string>
	</array>
	<key>南达科他州</key>
	<array>
		<string>苏瀑</string>
	</array>
	<key>罗得岛州</key>
	<array>
		<string>普洛威顿斯</string>
	</array>
	<key>密西西比州</key>
	<array>
		<string>杰克逊</string>
	</array>
	<key>犹他州</key>
	<array>
		<string>西约旦</string>
		<string>盐湖城</string>
		<string>普若佛</string>
		<string>西瓦利城</string>
	</array>
	<key>阿肯色州</key>
	<array>
		<string>小石城</string>
	</array>
	<key>爱达荷州</key>
	<array>
		<string>锡达拉皮兹</string>
		<string>博伊西</string>
		<string>得梅因</string>
	</array>
	<key>亚拉巴马州</key>
	<array>
		<string>亨茨维尔</string>
		<string>莫比尔</string>
		<string>伯明翰</string>
		<string>蒙哥马利</string>
	</array>
	<key>路易斯安那州</key>
	<array>
		<string>新奥尔良</string>
		<string>拉法叶</string>
		<string>什里夫波特</string>
		<string>巴吞鲁日</string>
	</array>
	<key>新泽西州</key>
	<array>
		<string>伊丽莎白</string>
		<string>帕特森</string>
		<string>泽西城</string>
	</array>
	<key>阿拉斯加州</key>
	<array>
		<string>安克雷奇</string>
	</array>
	<key>堪萨斯州</key>
	<array>
		<string>托皮卡</string>
		<string>欧弗兰帕克</string>
		<string>奥拉西</string>
		<string>堪萨斯城</string>
		<string>威奇托</string>
	</array>
	<key>明尼苏达州</key>
	<array>
		<string>圣保罗</string>
		<string>明尼亚波利斯</string>
	</array>
	<key>夏威夷州</key>
	<array>
		<string>檀香山</string>
	</array>
	<key>内布拉斯加州</key>
	<array>
		<string>林肯</string>
		<string>奥马哈</string>
	</array>
	<key>弗吉尼亚州</key>
	<array>
		<string>朴茨茅斯</string>
		<string>亚历山德里亚</string>
		<string>里士满</string>
		<string>切萨皮克</string>
		<string>纽波特纽斯</string>
		<string>汉普顿</string>
		<string>阿灵顿</string>
		<string>诺福克</string>
		<string>弗吉尼亚比奇</string>
	</array>
	<key>密苏里州</key>
	<array>
		<string>斯普林菲尔德</string>
		<string>独立城</string>
		<string>圣路易斯</string>
		<string>堪萨斯城</string>
	</array>
	<key>佐治亚州</key>
	<array>
		<string>亚特兰大</string>
		<string>雅典</string>
		<string>沙瓦纳</string>
		<string>奥古斯塔</string>
		<string>哥伦布</string>
	</array>
	<key>新墨西哥州</key>
	<array>
		<string>阿布奎基</string>
	</array>
	<key>俄勒冈州</key>
	<array>
		<string>尤金</string>
		<string>波特兰</string>
		<string>塞勒姆</string>
		<string>代顿</string>
	</array>
	<key>俄克拉荷马州</key>
	<array>
		<string>诺曼</string>
		<string>图尔萨</string>
		<string>俄克拉荷马城</string>
	</array>
	<key>内华达州</key>
	<array>
		<string>亨德森</string>
		<string>雷诺</string>
		<string>北拉斯维加斯</string>
		<string>拉斯维加斯</string>
	</array>
	<key>肯塔基州</key>
	<array>
		<string>列克星顿</string>
		<string>路易维尔</string>
	</array>
	<key>科罗拉多州</key>
	<array>
		<string>桑顿</string>
		<string>科罗拉多泉</string>
		<string>西敏</string>
		<string>普韦布洛</string>
		<string>科林斯堡</string>
		<string>阿瓦达</string>
		<string>丹佛</string>
		<string>莱克伍德</string>
		<string>奥罗拉</string>
	</array>
	<key>哥伦比亚特区</key>
	<array>
		<string>华盛顿</string>
	</array>
	<key>华盛顿州</key>
	<array>
		<string>温哥华</string>
		<string>斯波坎</string>
		<string>塔科马</string>
		<string>贝尔维尤</string>
		<string>西雅图</string>
	</array>
	<key>马萨诸塞州</key>
	<array>
		<string>剑桥</string>
		<string>乌斯特</string>
		<string>洛厄尔</string>
		<string>斯普林菲尔德</string>
		<string>波士顿</string>
	</array>
	<key>威斯康星州</key>
	<array>
		<string>格林贝</string>
		<string>麦迪逊</string>
		<string>密尔沃基</string>
	</array>
	<key>北卡罗来纳州</key>
	<array>
		<string>温斯顿-塞勒姆</string>
		<string>费页特维</string>
		<string>卡瑞市</string>
		<string>格林斯伯勒</string>
		<string>达勒姆</string>
		<string>罗利</string>
		<string>夏洛特</string>
	</array>
	<key>马里兰州</key>
	<array>
		<string>巴尔的摩</string>
	</array>
	<key>田纳西州</key>
	<array>
		<string>查塔诺加</string>
		<string>克拉克斯维尔</string>
		<string>孟菲斯</string>
		<string>诺克斯维尔</string>
		<string>纳什维尔</string>
	</array>
	<key>俄亥俄州</key>
	<array>
		<string>辛辛那提</string>
		<string>托莱多</string>
		<string>阿克伦</string>
		<string>克里夫兰</string>
		<string>哥伦布</string>
	</array>
	<key>印地安纳州</key>
	<array>
		<string>韦恩堡</string>
		<string>埃文斯维尔</string>
		<string>南本德</string>
		<string>印第安纳波利斯</string>
	</array>
	<key>佛罗利达州</key>
	<array>
		<string>塞勒姆</string>
		<string>盖恩斯维尔</string>
		<string>海厄利亚</string>
		<string>塔拉哈西</string>
		<string>奥兰多</string>
		<string>潘布鲁克派恩斯</string>
		<string>科勒尔斯普林斯</string>
		<string>庞帕诺比奇</string>
		<string>好莱坞</string>
		<string>克利尔沃特</string>
		<string>米拉马尔</string>
		<string>圣露西港</string>
		<string>劳德代尔堡</string>
		<string>坦帕</string>
		<string>圣彼德斯堡</string>
		<string>迈阿密</string>
		<string>杰克逊维尔</string>
	</array>
	<key>密歇根州</key>
	<array>
		<string>安娜堡</string>
		<string>沃伦</string>
		<string>兰盛</string>
		<string>斯特灵海茨</string>
		<string>弗林特</string>
		<string>底特律</string>
		<string>大急流城</string>
	</array>
	<key>宾夕法尼亚州</key>
	<array>
		<string>匹兹堡</string>
		<string>阿伦敦</string>
		<string>伊利</string>
		<string>费城</string>
	</array>
	<key>亚利桑那州</key>
	<array>
		<string>皮奥里亚</string>
		<string>吉尔伯特</string>
		<string>斯科茨代尔</string>
		<string>钱德勒</string>
		<string>菲尼克斯</string>
		<string>坦佩</string>
		<string>格伦代尔</string>
		<string>梅萨</string>
		<string>图森</string>
	</array>
	<key>德克萨斯州</key>
	<array>
		<string>阿马里诺</string>
		<string>拉雷多</string>
		<string>麦卡伦</string>
		<string>麦金尼</string>
		<string>欧文</string>
		<string>布朗斯维尔</string>
		<string>帕萨迪纳</string>
		<string>拉伯克</string>
		<string>梅斯基特</string>
		<string>米德兰</string>
		<string>加兰</string>
		<string>阿比林</string>
		<string>基林</string>
		<string>阿灵顿</string>
		<string>登顿</string>
		<string>韦科</string>
		<string>博蒙特</string>
		<string>大草原城</string>
		<string>普拉诺</string>
		<string>科珀斯克里斯蒂</string>
		<string>卡罗尔顿</string>
		<string>厄尔巴索</string>
		<string>福和市</string>
		<string>奥斯汀</string>
		<string>达拉斯</string>
		<string>圣安东尼奥</string>
		<string>休士顿</string>
	</array>
	<key>伊利诺伊州</key>
	<array>
		<string>埃尔金</string>
		<string>斯普林菲尔德</string>
		<string>皮奥里亚</string>
		<string>罗克福德</string>
		<string>内珀维尔</string>
		<string>乔利埃特</string>
		<string>奥罗拉</string>
		<string>芝加哥</string>
	</array>
	<key>纽约州</key>
	<array>
		<string>纽约</string>
		<string>雪城</string>
		<string>扬克斯</string>
		<string>布法罗</string>
		<string>罗彻斯特</string>
	</array>
	<key>加利福尼亚州</key>
	<array>
		<string>海沃德</string>
		<string>科洛纳</string>
		<string>园林市</string>
		<string>波莫纳</string>
		<string>萨利纳斯</string>
		<string>圣罗莎</string>
		<string>埃斯孔迪多</string>
		<string>戴利城</string>
		<string>安条克</string>
		<string>富勒顿</string>
		<string>欧申赛德</string>
		<string>圣塔克拉利塔</string>
		<string>方塔纳</string>
		<string>西柯汶纳</string>
		<string>圣克拉拉</string>
		<string>千橡市</string>
		<string>库卡蒙格牧场</string>
		<string>森尼韦尔</string>
		<string>安大略</string>
		<string>莫雷诺谷</string>
		<string>奥克斯纳德</string>
		<string>丘拉维斯塔</string>
		<string>棕榈谷</string>
		<string>斯托克顿</string>
		<string>里弗塞得</string>
		<string>贝克斯菲尔德</string>
		<string>圣安娜</string>
		<string>安那罕</string>
		<string>旧金山</string>
		<string>埃尔蒙特</string>
		<string>莫德斯托</string>
		<string>康科德</string>
		<string>萨克拉门托</string>
		<string>格伦代尔</string>
		<string>托伦斯</string>
		<string>圣贝纳迪诺</string>
		<string>橙市</string>
		<string>科斯塔梅萨</string>
		<string>柏克莱</string>
		<string>英格尔伍德</string>
		<string>埃尔克格罗夫</string>
		<string>维塞利亚</string>
		<string>帕萨迪纳</string>
		<string>费尔菲尔德</string>
		<string>西米谷</string>
		<string>亨丁顿滩</string>
		<string>尔湾</string>
		<string>唐尼</string>
		<string>罗斯维尔</string>
		<string>诺沃克</string>
		<string>里士满</string>
		<string>瓦列霍</string>
		<string>兰开斯特</string>
		<string>弗雷斯诺</string>
		<string>长滩</string>
		<string>伯班克</string>
		<string>文图拉</string>
		<string>圣荷西</string>
		<string>圣迭戈</string>
		<string>洛杉矶</string>
	</array>
</dict>
</plist>
